# Ambiente virtual
env/
venv/
ENV/
*.pyc
__pycache__/

# Configurações do VS Code e PyCharm
.vscode/
.idea/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de migração (opcional, se quiser subir só após testes)
*/migrations/*.py
!*/migrations/__init__.py

# Arquivos de banco SQLite (se não quiser subir o banco local)
*.sqlite3

# Arquivos de log e cache
*.log
*.pot
*.py[cod]
*.swp
.cache/
.coverage
.tox/
*.egg-info/

# Arquivo de variáveis de ambiente
.env
